{{page-title "lbtodo"}}

<div class="pusher">

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="column">
                    <h1 class="ui header">lbtodo</h1>
                    <div class="ui tabular menu">
                        <LinkTo @route="tasks" class="item">Tasks</LinkTo>
                        <LinkTo @route="authors" class="item">Authors</LinkTo>
                    </div>
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
    
</div>